<%- content_for :fb_head do %>
  <meta property="fb:app_id" content="1150495698327638" />
  <meta property="og:url"    content="<%= new_pledge_url %>" />
  <meta property="og:description"  content="Take the iStreetwatch pledge today and commit to making our streets safe for everyone." />
  <meta property="og:title"  content="iStreetWatch - report racism and xenophobia" />
  <meta property="og:image"  content="<%= image_url('fb_pledge_share')%>" />
<% end %>


<div class="row">
  <div class="col s12 m10 offset-m1">
    <h2>Thank you!</h2>

    <p class="flow-text">
      You are one of <strong><%= Pledge.counter %></strong> people fighting to end street harassment.
    </p>

    <p class='flow-text'>
      Can you share this with your friends to grow the community of people making our streets safer?
    </p>
  </div>
</div>
