<%- content_for :fb_head do %>
  <meta property="fb:app_id" content="1150495698327638" />
  <meta property="og:url"    content="<%= new_pledge_url %>" />
  <meta property="og:description"  content="Take the iStreetwatch pledge today and commit to making our streets safe for everyone." />
  <meta property="og:title"  content="iStreetWatch - report racism and xenophobia" />
  <meta property="og:image"  content="<%= image_url('fb_pledge_share')%>" />
<% end %>


<div class="row section">
  <div class="col s12">
    <h2>Thank you!</h2>

    <p>
      You are one of <strong><%= Pledge.counter %></strong> people fighting to end street harassment.
    </p>

    <p>
      Can you share this with your friends to grow the community of people making our streets safer?
    </p>


    <div class='share-buttons right'>
      <p>
        <div class="fb-share-button"
             data-href="http://www.istreetwatch.co.uk/pledges/new"
             data-layout="button"
             data-size="large"
             data-mobile-iframe="true">
        </div>

        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet"
           data-text="I've pledged to stand up to racism. Will you?"
           data-size="large"
           data-url="<%= new_pledge_url %>"
           data-hashtags="iStreetWatch, PostRefRacism, Brexit"
           >
          Tweet</a>

      </p>
    </div>
  </div>
</div>
