<h4>Important Websites</h4>

<div class='section'>
  <h5><%= link_to 'Heroku', 'https://www.heroku.com', target: '_blank' %></h5>
  <p>iStreetWatch's hosting provider is Heroku. Heroku is a cloud computing service that provides a platform for building, running, and operating applications entirely in the cloud. Heroku removes the complexity of building and maintaining the infrastructure typically associated with developing and launching an app. Another big advantage of cloud computing is the ability to scale quickly and easily with traffic.</p>
  <p>Hosting is currently on the Hobby tier, and backups of the database are automatic. As backups are stored for just 7 days on Heroku Postgres, it's important to regularly download your backups to a safe place (<a href='#data_backups'>see below</a>).</p>
</div>

<div class='section'>
  <h5><%= link_to 'Amazon Web Services (AWS)', 'https://aws.amazon.com', target: '_blank' %></h5>
  <p>iStreetWatch uses Amazon Web Services (AWS) to store files, which can't be stored in the database, in the cloud. A third-party storage service is necessary since Heroku doesn't offer one of its own.</p>
  <p>The AWS storage service (called S3) is free for the first year; Very small charges apply thereafter for storing just the pdf publications.</p>
</div>

<div class='section'>
  <h5><%= link_to 'GitHub', 'https://github.com/osahyoun/istreetwatch', target: '_blank' %></h5>
  <p>iStreetWatch is an open source project, and the code repository lives on GitHub - a popular code-sharing site.</p>
  <p>The current maintainer is Omar Sahyoun (SumOfUs), but we should move the repository to an account under Migrants' Rights Network control at an appropriate time.</p>
</div>
