<% content_for :title do %>
  Admins' Guide
<% end %>

<div class="row section">
  <div class="col s12">

    <div class='section'>
      <h4>Sharing the Partner Form</h4>

      <p>Partners can embed the iStreetWatch report form on their own websites via an iframe. To do this, partners need the following code snippet:</p>

      <code>
        <%= '<iframe src="http://www.istreetwatch.co.uk/reports/new?partners=true" style="width:100%; height:100vh; border:none;"></iframe>' %>
      </code>
    </div>

  </div>
</div>