<% content_for :title do %>
  Dashboard
<% end %>

<div class="row section">
  <div class="col s12">

    <%= render 'data_date_range' %>

    <p>Bird's-eye view of approved reports between dates:</p>

    <div class='section'>
      <canvas id='incident-count-over-time' class='line'
        data-data="<%= @data_incident_count_over_time.to_json %>"
        data-time-unit="<%= @unit %>" >
      </canvas>
    </div>

  </div>
</div>