<p>Thank you, <%= @name %>!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec mattis massa. Duis nisi nibh, rutrum ac dapibus vel, ultrices sed sapien. Sed turpis neque, dapibus et ornare mollis, feugiat vel turpis.</p>

<p>Best wishes from the iStreetWatch Team</p>