<div class="row section">
  <div class="col s12">
    <h2>About</h2>

    <p class="flow-text">iStreetWatch collects reports to monitor racist and xenophobic incidents across the UK.</p>

    <p>Racist and anti-migrant incidents are becoming ever more public and ever more prolific. If you have witnessed or experienced racist or xenophobic harassment, <%= link_to "please submit your experience", new_report_path, class: 'report' %>.</p>

    <div class='section'>
      <h5><strong>We aim to:</strong></h5>

      <ul class='bullet'>
        <li><p>Make these now everyday incidents visible to a wider community.</p></li>
        <li><p>Help people at risk map which areas are safer to be in.</p></li>
        <li><p>Collect data over time to help monitor the correlation between these incidents and inflammatory speech from the media and politicians.</p></li>
      </ul>
    </div>

      <p>Everyone has the right to feel safe on the street. For many people, leaving their house means risking verbal and sometimes physical abuse. We all have a role to play in making our streets safe for everyone.</p>

    <div class='section'>
      <h5>Reporting the Incident to the Police</h5>

      <p>iStreetWatch does not provide your information to the police.</p>

      <p>If you've experienced, or witnessed, a hate incident or crime we recommend you contact the police directly or use the police online hate crime reporting site <%= link_to 'True Vision', 'http://www.report-it.org.uk/home', target: '_blank' %>.</p>
    </div>

    <p><strong>If you witness racist or xenophobic harassment, there are also
      <%= link_to "other things you can do", 'https://www.theguardian.com/uk-news/2015/nov/13/how-do-i-respond-racial-abuse-public-transport-onlookers-silent', target: '_blank' %>:</strong></p>

    <div class='row'>
      <div class='col s12 m4'>
          <h4>Say Something</h4>
          <p>Show you won't accept this behaviour on our streets.</p>
      </div>
      <div class='col s12 m4'>
          <h4>Film It</h4>
          <p>Providing evidence can be key to making an arrest or charge.</p>
      </div>
      <div class='col s12 m4'>
          <h4>Be Safe</h4>
          <p>Don't intervene if you think you will escalate the situation.</p>
      </div>
    </div><!-- end div.row -->

    <p>iStreetWatch was created in response to the rise in hate crime following the referendum result and is managed by <%= link_to "Migrants' Rights Network", 'http://www.migrantsrights.org.uk', target: '_blank' %>.</p>

  </div>
</div><!-- end div.row -->