<div class="row">
  <div class="col s12 m10 offset-m1">
    <h4>Welcome to iStreetWatch</h4>

    <p class="">We track racist and xenophobic harassment in public spaces.</p>
    <p>Incidents of racist and anti-migrant abuse are becoming ever more public and ever more prolific. </p>
    <p>If you have witnessed or experienced racist or xenophobic harassment, please submit your experience here.</p>

    <h5>We aim to:</h5>

    <ul class='browser-default'>
      <li>Make these now every day incidents visible to a wider community</li>
      <li>Help people at risk map which areas are safer to be in </li>
      <li>Collect data over time to help monitor the correlation between these incidents and inflammatory speech from media and politicians</li>
      <li>Everyone has the right to feel safe on the street. For many people, leaving their house means risking verbal and sometimes physical abuse. This site has been created in response to the rise in hate crime following the referendum result. Because everyone in Britain has a right to be safe and respected on the street, whatever their nationality or skin colour. And we all have a role to play to make our streets safe for everyone.</li>
    </ul>

    <p>If you witness racist or xenophobic harassment, there are <a href='https://www.theguardian.com/uk-news/2015/nov/13/how-do-i-respond-racial-abuse-public-transport-onlookers-silent?CMP=share_btn_fb'>other things you can do</a>:</p>

    <ul class='browser-default'>
      <li>Say something: Show you won’t accept this behaviour on our streets</li>
      <li>Film it: Providing evidence can be key to making an arrest or charge</li>
      <li>Report abuse to the police: There are laws to protect people from abuse and harassment which should be enforced</li>
      <li>Be safe: Don’t intervene if you think you will escalate the situation</li>
    </ul>

    <h5>Sources:</h5>

    <ul>
      <li>
          <a href='https://www.theguardian.com/uk-news/2016/jun/27/sadiq-khan-muslim-council-britain-warning-of-post-brexit-racism'>
      https://www.theguardian.com/uk-news/2016/jun/27/sadiq-khan-muslim-council-britain-warning-of-post-brexit-racism
          </a>
      </li>
      <li>
        <a href='http://www.standard.co.uk/news/uk/actress-subjected-to-racist-abuse-as-hate-crimes-spike-after-brexit-vote-a3281286.html'>
        http://www.standard.co.uk/news/uk/actress-subjected-to-racist-abuse-as-hate-crimes-spike-after-brexit-vote-a3281286.html
       </a>
      </li>
      <li>
        <a href='http://www.independent.co.uk/news/uk/home-news/brexit-eu-referendum-racial-racism-abuse-hate-crime-reported-latest-leave-immigration-a7104191.html'>
        http://www.independent.co.uk/news/uk/home-news/brexit-eu-referendum-racial-racism-abuse-hate-crime-reported-latest-leave-immigration-a7104191.html
        </a>
      </li>
  <li>
    <a href='http://www.standard.co.uk/news/mayor/sadiq-khan-issues-rallying-cry-to-londoners-after-brexit-vote-triggers-surge-in-hate-crime-a3281456.html'>
    http://www.standard.co.uk/news/mayor/sadiq-khan-issues-rallying-cry-to-londoners-after-brexit-vote-triggers-surge-in-hate-crime-a3281456.html'
    </a>
  </li>
  <li>
    <a href='http://www.telegraph.co.uk/news/2016/06/26/spate-of-racist-attacks-blamed-on-brexit-vote/'>
      http://www.telegraph.co.uk/news/2016/06/26/spate-of-racist-attacks-blamed-on-brexit-vote
    </a>
  </li>
   </ul>
  </div>
</div>
