<nav>
  <div class='nav-wrapper container'>
    <div class='col s12'>
      <%= link_to 'StreetWatch', root_path, class: 'brand-logo' %>
      <ul class='right hide-on-med-and-down'>
        <li>test</li>
      </ul>
    </div>
  </div>
</nav>

<div id="map"></div>
<script>
  var events = <%= Report.latest.to_json.html_safe %>;
</script>

<script>

var map;

function initMap() {
  window.map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 50.513427, lng:  3.043213},
    zoom: 6
  });

  var infowindow = new google.maps.InfoWindow();

  events.forEach(function(event) {

    var lineSymbol = {
      path: 'M0 0h24v24H0z',
      strokeOpacity: 1,
      scale: 4
    };



    marker = new google.maps.Marker({
      position: new google.maps.LatLng(event.lat, event.lng),
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        strokeColor: 'rgb(250,97,93)',
        scale: 5
      },
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, event) {
      return function() {
        infowindow.setContent(event.description + "<br /><strong>" + moment(event.time).format("dddd, MMMM Do YYYY, h:mm:ss a")+ "</strong>") ;
        infowindow.open(map, marker);
      }
    })(marker, event));
  });


  init();
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbViT0qpX0wzJSN3f6kkoz4gBS-qQlhYc&callback=initMap&libraries=places"
async defer></script>

<style>
</style>
