<div id="map"></div>

<div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light red" href='/reports/new'>
    <i class="material-icons">add</i>
  </a>
</div>

<script>
  var events = <%= Report.latest.to_json.html_safe %>;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbViT0qpX0wzJSN3f6kkoz4gBS-qQlhYc&callback=initMap&libraries=places"
async defer></script>

<style>
</style>
