<div id="pledge-bar" class="center">
    <span>
      <%= Pledge.counter %> people have pledged to help end street harassment.
      <strong><%= link_to "Will you?", new_pledge_path %></strong>
    </span>
</div>

<div id="map" style="width: 100%"></div>

<div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light red" href='/reports/new'>
    <i class="material-icons">add</i>
  </a>
</div>

<script>
  var events = <%= Report.latest_for_map.to_json.html_safe %>;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT3-Tll1vHfGMSQuvCOnPUpeWw1YC0FKk&callback=initMap&libraries=places"
async defer></script>
