<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="container">
      <h2>Support</h2>

      <div class="what-next">
        <h4 class='flow-text'>Are you a victim of racial harassment?</h4>
        <span id="intro"> If you have been attacked, intimidated, or insulted because of your colour, race, ethnicity or national origin, then you are a victim of racial harassment. Racial harassment is a serious criminal offence and can take many different forms, such as:</span>

        <h4 class='flow-text'>Verbal:</h4>
        <ul>
          <li>Offensive remarks, comments, jokes or threats</li>
          <li>Name calling or swearing</li>
        </ul>

        <h4 class='flow-text'>Molestation:</h4>
        <ul>
          <li>Abusive or obscene telephone calls or letters</li>
          <li>Dumping of rubbish outside your home or through your letterbox</li>
          <li>Creating persistent noise</li>
        </ul>

        <h4 class="flow-text">Physical violence:</h4>

        <ul><li><p>Damaging your home or property by, smashing windows or doors, abusive racist graffiti written or drawn</p></li></ul>

        <p class="flow-text">If you witness racist or xenophobic harassment, there are other things you can do:</p>

        <ul>
          <li><p>Say something: Show you won’t accept this behaviour on our streets.</p></li>
          <li><p>Film it: Providing evidence can be key to making an arrest or charge.</p></li>
          <li><p>Report abuse to the police: There are laws to protect people from abuse and harassment which should be enforced</li>
          <li><p>Be safe: Don’t intervene if you think you will escalate the situation.</p></li>
        </ul>

        <h5 class="flow-text">Take Action: What can you do?</h5>
        <p>Speak confidentially to an organisation about the incident, they will not take any action without your consent.</p>

        <h5 class="flow-text">Reporting Resources</h5>

        <p>If you feel comfortable contacting the police - 101, 999 in an emergency<br>
        British Transport Police (BTP) - text 61016, call 0800 405040<br>
        Local One Stop Service<br>
        Local councils<br>
        Racial Equality Council<br>
        Citizens Advice Bureau<br>
        Law centre<br>
        Community centre or refugee group<br>
        Housing associations have a legal duty to protect you from harassment.<br>
        Keep a diary of times, dates and exactly what happened, show the person helping you how serious the problem is.</p>


        <p>British Transport Police (BTP) - text 61016, call 0800 405040</p>

        <h5 class="flow-text">Documenting resources</h5>

        <p>Eyewitness App - an Android and Apple app that encourages discreet video or just audio recording for evidence  - ****LINK TO APP****</p>

        <h5 class='flow-text'>Activism</h5>

        <a href="http://www.ihrc.org.uk/">Islamic Human Rights Commission</a><br>

        <a href="http://www.unitedagainstracism.org/">United against Racism</a><br>

        <a href="http://www.sariweb.org.uk/">Stand against Racism and Equality SARI</a><br>

        <a href="http://tellmamauk.org/">TelMAMA- Measuring anti-Muslim attacks</a>
      </div>

    </div>
  </div>
</div>
