<p>Hi <%= @name %>,</p>

<p>Your report has been posted on our website: <%= link_to 'click here to take a look', @url, target: '_blank' %>.</p>

<p>Thank you for taking the time to share your experience with us. Do share <%= link_to 'the website', root_url, target: '_blank' %> with others who you think would find it useful.</p>

<p>To get in touch with iStreetWatch, email us at istreetwatch@migrantsrights.org.uk</p>

<p>Best wishes from the iStreetWatch Team</p>
