Hi <%= @name %>,</p>

Thanks for getting in touch! Let's confirm your email address.

By clicking on the following link, you are confirming your email address and agreeing that iStreetWatch can publish your report:

<%= @url %>

Here's a copy of your report for your reference:


<%= @report_text %>


Best wishes from the iStreetWatch Team
