<p>Hi <%= @name %>,</p>

<p>Thank you very much for sharing your story with iStreetWatch and helping us to monitor racist and xenophobic incidents in our communities.</p>

<p>Please click on the following link to verify your email:</p>

<p><%= link_to 'CLICK HERE TO CONFIRM YOUR EMAIL ADDRESS',  @url, target: '_blank' %></p>

<p>We know that experiencing or witnessing racist abuse can be a traumatic experience. If you would like to seek further support you can find information <%= link_to 'here', finding_help_url, target: '_blank' %>.</p>

<p>To get in touch with iStreetWatch, email us at istreetwatch@migrantsrights.org.uk</p>

<p>Best wishes from the iStreetWatch Team</p>
