$blue: #1AAEB7;
$blue-hover: lighten($blue, 10%);
$red: rgb(239,70,45);
$red-hover: lighten($red, 10%);
$white: #fff;
$light-grey: rgb(250, 250, 250);
$orange: rgb(249,190,0);


/* FOOTER */

footer.page-footer { margin-top: 0; }

/* Sticky Footer -------  */

html {
  height: 100%;
}
body {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* ------- Sticky Footer */


/* DEFAULTS */

* {
  &:focus { outline: none; }
}

.hide-fields { display: none; }

.container {
  padding-bottom: 1em;
}

.center-btn {
  text-align: center;
  padding-top: 5px;
}

a {
  color: $blue;
  &:hover { color: $blue-hover; }
  &.report {
    color: $red;
    &:hover { color: $red-hover; }
  }
}

.col:not(.center) ul.browser-default {
  margin-left: 1em;
  li { list-style-type: square; }
}

p { font-size: 110%; }


/* NAV */

nav {
  a.brand-logo {
    margin-top: 0.3em;
  }
  background: $light-grey;
  box-shadow: none;

  .brand-logo {
    padding: 0 0.5em;
    color: black;
  }

  .button-collapse {
    padding: 0 1em;
    color: $blue;
    &:hover { color: $blue-hover; }
  }

  li a {
    font-size: 110%;
    color: $blue;
    &:hover { background: transparent; }
    &.report {
      color: $red;
      &:hover { color: $red-hover; }
    }
  }
}


/* ACTION BAR */

#pledge-bar {
  margin-bottom: 0;
  background: $orange;
  color: $white;
  span {
    font-size: 110%;
    padding: .5em;
    display: inline-block;
  }
}


/* HOME */

#maps {
  width: 100%;
  height: 100vh;
}


/* TIMELINE */

.report.card {
  .summary {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .time { color: #9e9e9e; }
}


/* REPORT FORM */

input::-moz-placeholder {color: blue !important;}

label {
  font-size: 120%;
  color: darken($light-grey, 30%);
}

.field-big input { font-size: 150% !important; }

textarea {
  height: 200px;
  font-size: 120%;
  &:focus { outline: 2px solid $blue; }
}

.btn, .btn-large {
  background: $blue;
  &:hover {
    background: $blue-hover;
    color: $white;
  }
}

/*Share Buttons*/

.share-buttons iframe,.share-buttons>span {
  vertical-align: middle;
}

