@import 'variables';


/* NAV */

nav {
  a.brand-logo {
    margin-top: 0.3em;
  }
  background: $light-grey;
  box-shadow: none;

  .brand-logo {
    padding: 0 0.5em;
    color: black;
  }

  .button-collapse {
    padding: 0 1em;
    color: $blue;
    &:hover { color: $blue-hover; }
  }

  li a {
    font-size: 110%;
    color: $blue;
    &:hover { background: transparent; }
    &.report {
      color: $red;
      &:hover { color: $red-hover; }
    }
  }
}


/* ACTION BAR */

#pledge-bar {
  margin-bottom: 0;
  background: $orange;
  color: $white;
  span {
    font-size: 110%;
    padding: .5em;
    display: inline-block;
  }
}


/* HOME */

#maps {
  width: 100%;
  height: 100vh;
}


/* TIMELINE */

.report.card {
  .summary {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .grey-para { color: #9e9e9e; }
}