@import 'variables';

* {
  &:focus { outline: none; }
}

p {
  font-weight: 300;
  font-size: 1.1rem;
  &.small {
    font-size: 1rem;
  }
}

h5 {
  color: darken( $grey, 20% );
}

a {
  color: $blue;
  &:not(.btn):hover {
    color: $blue-hover;
  }
}

.iSW ul.bullet {
  margin-left: 2rem;
  li {
    list-style: square outside none;
    p {
      font-size: 1rem;
    }
  }
}

// Offset content when visible side nav

#nav-mobile.side-nav {
  width: 300px !important;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
  .admin .container {
    width: 90%;
  }
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}