@import 'variables';

footer.page-footer {
  background: $charcoal;
  color: $white;
  p {
    font-size: 1rem;
  }
  a {
    color: $white;
    border-bottom: 1px solid $white;
    &:hover { color: $white; }
  }
}

/* Share Buttons */

.share-buttons {
  iframe {
   vertical-align: bottom;
  }
}

/* Sticky Footer -------  */

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

/* ------- Sticky Footer */
