@import 'variables';


.iSW form {
  .select-wrapper + label {
    font-size: 1rem;
    top: -1rem;
  }

  label {
    top: 1rem;
    color: $black;
    &.active {
      font-size: 1rem;
      & + span {
        color: $blue;
      }
    }
  }

  input {
    &.big {
      font-size: 1.5rem;
    }
    &[type='text'] ~ label, &[type='email'] ~ label, &[type='tel'] ~ label {
      -webkit-transform: translateY(-140%);
      transform: translateY(-140%);
    }
  }

  .row .col > .row {
    margin-bottom: 0;
  }
}

.iSW ul.select-dropdown {
  li {
    min-height: 0;
    padding: .25rem .5rem;
    span {
      padding: 0;
    }
    &:not(.disabled) span {
      color: $black;
    }
    &:first-of-type {
      pointer-events: none;
      span {
        color: $grey;
      }
    }
  }
}

.hide-fields { display: none; }

#error_explanation {
  text-align: center;
  color: $red;
}

.error, .error input {
  border-color: $red !important;
  box-shadow: 0 1px 0 0 $red !important;
}

// CSS FORM VALIDATIONS FOR SELECT DROP-DOWNS
.iSW select[required] {
  position: absolute;
  display: block;
  bottom: 0;
  height: 0; width: 0;
  padding: 0;
  border-color: transparent;
}