@import 'variables';

header nav {
  background: $light-grey;
  box-shadow: none;
  a {
    &.button-collapse {
      color: $blue;
      margin-right: 1rem;
    }
  }
}

.iSW header ul {
  a {
    will-change: opacity;
    &:not(.btn):hover { color: $black; }
    &.current {
      pointer-events: none;
      opacity: .5;
    }
  }
  li.logo a {
    display: flex;
    justify-content: center;
    &:hover {
      background: none;
      color: inherit;
    }
    img { // logo
      height: 40px;
      margin-top: 12px;
      margin-right: 5px;
    }
    font-color: #646464;
    font-size: 2rem;
  }
  li.pledge-ad {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
    p {
      height: auto;
      line-height: 2rem;
      padding: .5rem 2rem;
      margin: 0;
      a {
        padding: 0; margin: 0;
        display: inline;
        line-height: inherit;
        color: inherit;
        font-size: inherit;
        box-shadow: 0 1px 0 0 $charcoal;
        &:hover {
          color: inherit;
          background: none;
        }
      }
    }
  }
  li a i {
    font-size: 30px;
    margin-top: 17px;
  }
}

.btn.report {
  background: $red;
  margin-right: 0;
}
