@import 'variables';

header nav {
  background: $light-grey;
  box-shadow: none;
  a {
    &.button-collapse {
      color: $blue;
      margin-right: 1rem;
    }
    &.logo {
      img {
        margin-top: 12px;
        height: 40px;
      }
    }
  }
  p {
    margin: 0;
    &.title {
      color: darken( $grey, 20% );
      font-weight: 400;
      font-size: 2rem;
    }
  }
}

.iSW header ul {
  a {
    will-change: opacity;
    &:not(.btn):hover { color: $black; }
    &.current {
      pointer-events: none;
      opacity: .5;
    }
  }
  li.logo {
    a {
      padding: 0 1rem;
      display: -ms-flexbox;
      -ms-flex-pack: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      &:hover {
        background: none;
        color: inherit;
      }
    }
  }
  li.pledge {
    a {
      color: $purple;
    }
  }
  li.pledge-ad {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12);
    p {
      height: auto;
      line-height: 1.5rem;
      padding: .5rem 2rem;
      margin: 0;
      font-size: 15px;
      a {
        padding: 0; margin: 0;
        display: inline;
        line-height: inherit;
        color: $purple;
        font-size: inherit;
        font-weight: 400;
        &:hover {
          background: none;
        }
      }
    }
  }
  li a i {
    font-size: 30px;
    margin-top: 17px;
  }
}

.btn.report {
  background: $red;
  margin-right: 0;
}
