nav {
  background: white;
  .brand-logo {
    margin: 0 0.5em;
    color: black;
  }

  li a {
    color: rgb(239,70,45);
  }
}

#autocomplete {
  padding: 5px;
  font-size: 15px;
  widht: 200px;
}

#map {
  width: 100%;
  height: 100vh;
}

.report.card {
  .summary {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .time {
    color: #9e9e9e;
  }
}

ul.browser-default {
  margin-left: 1em;
  li {
    list-style-type: initial;
  }
}
