@import 'variables';

.publication {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 1.5rem 0;

  .image {
    img {
      width: 100%;
    }
  }

  .title {
    font-size: 1.4rem;
  }

  .title, .action {
    padding: 1rem;
    border-top: 1px solid $light-grey;
  }
}