$blue: #1AAEB7;
$blue-hover: lighten($blue, 10%);
$red: rgb(239,70,45);
$red-hover: lighten($red, 10%);
$white: #fff;
$black: #000;
$charcoal: #646464;
$grey: rgb(175,175,175);
$light-grey: rgb(250, 250, 250);
$orange: rgb(249,190,0);