<% if report.errors.any? %>
  <div id='error_explanation'>
    <h4><%= pluralize(report.errors.count, 'error') %> stopped this report from being saved:</h4>

    <ul>
    <% report.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
