<div class='row section'>
  <div class='col s12'>

    <h2 class="center">New Report</h2>
    <%= render 'form', report: @report %>

  </div>
</div>

<script>
  $(function(){
    $('.datepicker').pickadate();
  });

  function init() {
    initAutocomplete();
  }
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js"></script>

<%# Required for Google's location API %>
<% unless Rails.env.test? %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_api_key %>&callback=init&libraries=places" async defer></script>
<% end %>