<div class="container">
  <h2 class="center">New Report</h2>
  <%= render 'form', report: @report %>
</div>


<script>

function init() {
  initAutocomplete();
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbViT0qpX0wzJSN3f6kkoz4gBS-qQlhYc&callback=init&libraries=places"
async defer></script>
