<div class='row section'>
  <div class='col s12'>

    <h2>Thank You - Just One More Step...</h2>

    <p class='flow-text'>We have sent a confirmation link to your email address: Please check your inbox and click on this link to complete the report process.</p>

    <p>Once we have confirmed your email address, one of our moderators will read and post your report<%= params[:partners].present? ? ' on the iStreetWatch website' : '' %>.</p>

    <% unless @report.reported_to_police.strip.downcase == 'yes' %>
      <p>
        There are laws to protect people from abuse and harassment, which should be enforced. If you've experienced, or witnessed, a hate incident or crime you can report it to the police. You can contact the police directly, or use the police online hate crime reporting site <%= link_to 'True Vision', 'http://www.report-it.org.uk/home', target: '_blank' %>.
      </p>
      <p>If you would like to seek other forms of support you can find information <%= link_to 'here', finding_help_path %>.</p>
    <% end %>

    <% if params[:partners].present? %>
      <div class='section'>
        <p><%= link_to 'iStreetWatch', root_url, target: '_blank' %>: Because we all have a role to play in making our streets safe for everyone.</p>
      </div>
    <% end %>

  </div>
</div>