<div class='row'>
  <div class='col s12'>

    <div class='container'>
      <h2>Thank You</h2>
      <p class='flow-text'>We appreciate you taking time to report this incident. One of our moderators will now read and post your report.</p>
      <% unless @report.reported_to_police == 'yes' %>
        <p>
          There are laws to protect people from abuse and harassment, which should be enforced. If you’ve experienced, or witnessed, a hate incident or crime you can report it to the police. You can contact the police directly, or use the police online hate crime reporting site <%= link_to 'True Vision', 'http://www.report-it.org.uk/home', target: '_blank' %>.
        </p>
      <% end %>
    </div>

  </div>
</div>