<div class='row section'>
  <div class='col s12'>

    <p class='flow-text'>Thank you for verifying your email. You will receive confirmation when your report is published on the iStreetWatch website.</p>

    <p>Meanwhile, see what other people have posted on iStreetWatch <%= link_to "here", timeline_reports_path %>, or to get in touch email us at <strong>istreetwatch@migrantsrights.org.uk</strong></p>

    <p>Best wishes from the iStreetWatch Team</p>

  </div>
</div>