<% if model.errors.any? %>
  <div id='error_explanation'>
    <h4><%= pluralize(model.errors.count, 'error') %> stopped this from being saved:</h4>

    <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
