<!DOCTYPE html>
<html>
  <head>
    <title>MapApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_include_tag 'application' %>
    <%= yield %>

  </body>
</html>
