<!DOCTYPE html>
<html>
  <head>
    <title>Report Hate Crime to iStreetWatch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'general/application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class='iSW iframe'>
    <main>
      <div class='container'>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
